*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: 1px solid red; */
}

body{
    background-image: url(Assets/images/drumbg2.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 100vh;
    margin: 0 auto;
}


#keyboard-keys{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 100vh;
}

.key{
    height: 80px;
    width: 80px;
    border: 2px solid black;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* font-weight: bold;
    text-align: center; */
    /* font-size: 14px; */
}

.label{
    color: yellow;
    font-size: 10px;
}
.key-label{
    font-weight: bold;
    font-size: larger;
    color: white;
}